/** General styling rules **/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1b4290;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.main-bg {
    background-image: url(https://res.cloudinary.com/dlaafkcej/image/upload/v1706044474/mushroom-background3_uxnza6.jpg);
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.card {
    border: none;
    background-color: transparent;
}

.inner {
    background-color: rgb(255, 255, 255, 0.9);
}

.main-finds-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
}

.find-thumbnail {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.habitat-flash {
    position: absolute;
    right: -5px;
    top: 5%;
    background-color: darkgreen;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    width: 50%;
    font-weight: 400;
    border-radius: 20px 0px 0px 20px;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.find-link {
    text-decoration: none;
    color: #445261;
}

.find-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.home-container {
    display: flex;
}

#logo-holder {
    display: flex;
    height: 30px;
    padding-right: 10px;
}

.width-80 {
    width: 80%;
}

.border-general {
    border: 1px solid gray;
    border-radius: 5px;
}

.my-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-rounded {
    border-radius: 10px;
}

/** Button Styling and hover effects **/

.create-find-button {
    color: white;
    background-color: green;
    border-color: green;
}

.create-find-button:hover {
    color: white;
    background-color: rgb(3, 95, 3);
}

.create-find-button:focus {
    color: white;
    box-shadow: 0 0 0 0.25rem green;
}

.btn-signup {
    background-color: green;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    color: white;
    background-color: rgb(3, 95, 3);
}

.delete-button {
    background-color: #b31c1c;
    border-color: #b31c1c;
}

.delete-button:hover {
    background-color: #7c1414;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/** Styling for Toast messages */

#myDeleteFindToast {
    background-color: #cdcdcd;
}

/** Map and map marker styling */

.map-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map {
    height: 400px;
    width: 80%;
  }

.hidden {
    opacity: 0;
    font-size: 0;
}


.information:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
}

  /** Form Styling */

.form-containers {
    display: flex;
    justify-content: center;
}

.form-text-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.form-longer-text {
    width: 70%;
}

label {
    background-color: rgb(255, 255, 255, 0.9);
}

.form-group {
    margin: 15px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border 1s, background-color 1s;
}

.form-group:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid green;
}

