{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<h2>{% if slug %} Edit {% else %} Create New {% endif %} Find</h2>
{% if slug %}
{{ slug }}
{% endif %}
<div>
    <p>Creating a Find as: {{ user.username }}</p>
</div>

<h3>Where did you find... Your find?</h3>

<div id="location-test"></div>
    <!--The div element for the map -->
    <div>
        <div id="map"></div>

        <!-- prettier-ignore -->
        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "AIzaSyDOq8JAMrKnQQxMk3SRcJGwkbFMOZ-sUko", v: "weekly"});</script>
    </div>

    <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
        {{ find_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg" onclick="return confirm('Are you sure?');">Submit</button>
    </form>
</div>

{% endblock content %}
