{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container-fluid">
    <div class="row p-4 m-4">
        <div class="container medium-rounded col-12 light-bg p-4 border-general">
            <div class="row">
                <div class="col-md-6 masthead-text">
                    <!-- This section holds the left-top column of find-detail -->
                    <h1 class="post-title">{{ find.title }}</h1>
                    <p class="post-subtitle border-bottom">Created By: {{ find.author }}
                    <p class="post-subtitle border-bottom">Find Created on: {{ find.created_on }}</p>
                    <p class="post-subtitle border-bottom">Habitat: {{ find.habitat }}</p>
                    {% if find.suspected_edible is True %}
                    <div class="post-subtitle">
                        <p>Suspected Edible</p>
                        <img class="find-icon-container" src="{% static 'images\edible-icon1.jpg' %}" alt="knife and fork icon">
                    </div>
                    {% endif %}
                    {% if find.suspected_poisonous is True %}
                    <div class="post-subtitle">
                        <p>Suspected Poisonous!</p>
                        <img class="find-icon-container" src="{% static 'images\poison-icon1.jpg' %}" alt="poisonous icon">
                    </div>
                    {% endif %}
                </div>
                <!-- This section holds the right-top column of find-detail, taken up by the image. -->
                <div class="d-none d-md-block col-md-6 masthead-image">
                    {% if "placeholder" in find.featured_image.url %}
                    <img src="{% static 'images\mushroom-icon.jpg' %}" width="100%" alt="placeholder image of mushroom">
                    {% else %}
                    <img src=" {{ find.featured_image.url }}" width="100%" alt="image of mushroom find provided by user">
                    {% endif %}
                </div>
            </div>
            <div class="row border-top">
                <!-- This section holds the central row of find-detail, which is the main find content and icons
                for likes and comments. -->
                <div class="col card mb-4  mt-3 left  top">
                    <div class="card-body">
                        <p class="card-text ">
                            {{ find.content | safe }}
                        </p>
                        <div class="row">
                            <div class="col-1">
                                <strong>
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'find_like' find.slug %}" method="post">
                                        {% csrf_token %}
                                        {% if liked %}
                                        <button type="submit" name="blogpost_id" value="{{find.slug}}" class="btn-like"><i
                                                class="fas fa-heart"></i></button>
                                        {% else %}
                                        <button type="submit" name="blogpost_id" value="{{find.slug}}" class="btn-like"><i
                                                class="far fa-heart"></i></button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                                    {% endif %}
                                    <span class="text-secondary">{{ find.number_of_likes }} </span>
                                </strong>
                            </div>
                            <div class="col-1">
                                {% with comments.count as total_comments %}
                                <strong class="text-secondary"><i class="far fa-comments"></i>
                                    {{ total_comments }}</strong>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top">
            <!-- This section holds the bottom-left section of find-detail, which displays previous comments. -->
            <div class="col-md-6 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 card mb-4  mt-3 ">
                <!-- This section holds the bottom-right section of find-detail, which displays the form to leave
                a comment. -->
                <div class="card-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
    
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}