{% extends "base.html" %} {% block content %} 
{% load static %}

{% if not user.is_authenticated %}

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary welcome-message">
    <div class="row justify-content-center inner rounded">
        <h1 class="display-4 text-center">Welcome to Mushroom Mappers</h1>
        <div class="row justify-content-center">
            <p class="lead my-3 col-4">Please create an account to enjoy the full site</p>
            <a class="btn col-4 welcome-buttons btn-primary" href="{% url 'account_signup' %}">Register</a>
        </div>
        <img src="{% static 'images\mushroom-icon.jpg' %}" alt="test image">
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
        
<!--This section will hold a welcome message-->

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary welcome-message">
    <div class="row p-4 justify-content-center align-items-center inner rounded">
        <div class="col-lg-4 px-0 align-middle">
            <h1 class="display-4">Welcome {{ user.username }}</h1>
            <p class="lead">Remember the golden rule, if in doubt leave it out</p>
        </div>
        <div class="col-4">
            <div class="row align-items-center">
                <a class="btn gap-2 col-6 mx-auto welcome-buttons create-find-button" href="{% url 'create_find' %}">Create New Find</a>
            </div>
            <div class="row">
                <a class="btn btn-secondary gap-2 col-6 mx-auto welcome-buttons" href="{% url 'view_finds' %}">Your Existing Finds</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Main Finds Section -->

<div class="container-fluid">
    <div class="row mb-2">
        {% for find in find_list %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative light-bg">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ find.title }}</h3>
                    <div class="mb-1 text-body-secondary">{{ find.created_on }}</div>
                    <p class="card-text mb-auto">{{ find.slug }}.</p>
                    <a href="{% url 'find_detail' find.slug %}" class="post-link">
                    Continue reading
                    </a>
                    <p class="card-text text-muted h6">
                        {{ find.created_on }} <i class="far fa-heart"></i> 
                        {{ find.number_of_likes }}
                    </p>
                </div>
            <div class="col-md-3 text-center find-thumbnail">
                {% if "placeholder" in find.featured_image.url %}
                <img class="card-img-top" src="static/images/mushroom-icon.jpg"/>
                        
                {% else %}
                    <img class="card-img-top" src=" {{ find.featured_image.url }}"/>
            
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Main Find List Section -->

<div class="container-fluid">
    <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for find in find_list %}
                    <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                            {% if "placeholder" in find.featured_image.url %}
                            <img
                            class="card-img-top"
                            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                            />
                            {% else %}
                            <img
                            class="card-img-top"
                            src=" {{ find.featured_image.url }}"
                            />
                            {% endif %}
                            <div class="image-flash">
                            <p class="author">Author: {{ find.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'find_detail' find.slug  %}" class="post-link">
                            <h2 class="card-title">{{ find.title }}</h2>
                            <p class="card-text">{{ find.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">
                            {{ find.created_on }} <i class="far fa-heart"></i> 
                            {{ find.number_of_likes }}
                        </p>
                        </div>
                    </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">{% endif %} {% endfor %}</div>
                </div>
            </div>

        <!-- This section displays page navigation options -->

        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                    >&laquo; PREV
                    </a>
                </li>
                {% endif %} {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                    NEXT &raquo;</a
                    >
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{%endblock%}
