{% extends "base.html" %} {% block content %} 
{% load static %}

<!-- This section holds the welcome message, with different options depending if 
     user is authenticated or not -->

<div class="p-2 mx-4 mt-4 rounded text-body-emphasis bg-body-secondary">
    <div class="justify-content-center inner border rounded text-center my-m-bottom">
        <div class="col-12 p-2">
            <h1 class="display-4 text-center" id="welcome-text">Welcome to Mushroom Mappers</h1>
        </div>
        <div class="row my-center">
            {% if not user.is_authenticated %}
            <p class="lead col-4">Please create an account to enjoy the full site</p>
            <a class="btn col-4 welcome-buttons btn-signup my-center" href="{% url 'account_signup' %}">Register</a>
            {% else %}
                <div class="row">
                    <h1 class="display-4" id="welcome-text">Welcome {{ user.username }}</h1>
                    <p class="lead">Remember the golden rule, if in doubt leave it out</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-2 hide-small-screen">
                    </div>
                        <a class="btn col-3 green-button my-m-bottom my-m-right" href="{% url 'create_find' %}" id="create-find-button">Create New Find</a>
                        <a class="btn btn-secondary col-3 my-m-bottom" href="{% url 'view_finds' %}">Your Existing Finds</a>
                    <div class="col-2 hide-small-screen">
                    </div>
                    </row>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Section for the map element -->
<div class="map-container">
    <div id="map" class="m-2 medium-rounded shadow-sm">
    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "AIzaSyDOq8JAMrKnQQxMk3SRcJGwkbFMOZ-sUko", v: "weekly"});</script>
    </div>
</div>

<!-- Hidden div for storing the values of find_list. These fields are used by scipt.js to pick up the values for
creating the map markers. -->
<div class="hidden" id="hidden-index">
    {% for find in find_list %}
    <div class="hidden-created-on">
        {{ find.created_on }}
    </div>
    <div class="hidden-author">
        {{ find.author }}
    </div>
    <div class="hidden-coordinates">
        {{ find.location_coordinates }}
    </div>
    <div class="hidden-slugs">
        {{ find.slug }}
    </div>
    {% endfor %}
</div>
    
<!-- Main Finds Section -->
<div class="container-fluid">
    <div class="row mb-2 p-4">
        {% for find in find_list %}
        
        <div class="col-md-6 overflow-visible my-padding">
            <div class="row g-0 border rounded overflow-visible flex-md-row mb-4 shadow-sm h-md-250 position-relative light-bg">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ find.title }}</h3>
                    <h5>{{ find.author }}</h5>
                    <div class="mb-1 text-body-secondary">{{ find.created_on }}</div>
                    <a href="{% url 'find_detail' find.slug %}" class="find-link">
                    Continue reading
                    </a>
                    <p class="card-text text-muted h6">
                        <i class="far fa-heart"></i>
                        {{ find.number_of_likes }}
                    </p>
                </div>
            <div class="text-center find-thumbnail container-fluid">
                <div class="habitat-flash">
                    {{ find.habitat}}
                </div>
                {% if "placeholder" in find.featured_image.url %}
                <img class="card-img-top" src="{% static 'images\mushroom-icon.jpg' %}">
                {% else %}
                <img class="card-img-top" src="{{ find.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- This section displays pagination options -->

        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV
                    </a>
                </li>
                {% endif %} {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                    NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{%endblock%}
