{% extends 'base.html' %} {% block content %}

<div>
   <p>
    This is where the users previous finds will be displayed
   </p>
   <p>
    Your previous finds {{ user.username }}
   </p>
</div>
<!-- Section showing details of users previous finds -->

<div class="container-fluid">
    <div class="row mb-2">
        {% for find in user_finds %}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative light-bg">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ find.title }}</h3>
                    <div class="mb-1 text-body-secondary">{{ find.created_on }}</div>
                    <p class="card-text mb-auto">{{ find.slug }}.</p>
                    <a href="{% url 'find_detail' find.slug %}" class="post-link">
                    Continue reading
                    </a>
                    <p class="card-text text-muted h6">
                        {{ find.created_on }} <i class="far fa-heart"></i> 
                        {{ find.number_of_likes }}
                    </p>
                </div>
            <div class="col-md-6 text-center find-thumbnail">
                {% if "placeholder" in find.featured_image.url %}
                <img class="card-img-top" src="static/images/mushroom-icon.jpg"/>
                        
                {% else %}
                    <img class="card-img-top" src="{{ find.featured_image.url }}"/>
            
                {% endif %}
            </div>
            <div class="row align-items-center">
                <a class="btn gap-2 col-3 mx-auto welcome-buttons create-find-button" href="#">Edit this Find</a>
                <a class="btn btn-secondary gap-2 col-3 mx-auto welcome-buttons delete-button" href="#">Delete this Find</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}